.tab {
	&s {
		&__bookmark {
			position: relative;
			z-index: 5;
			&s {
				font-size: 18px;
				line-height: 20px;
				text-align: center;
				padding-bottom: 160px;
			}

			padding: 9px 10px;
			display: inline-block;
			text-decoration: none;
			text-align: center;
			width: 137px;
			height: 133px;
			margin: 0 3px;

			img{
				width: 100%;
			}
		}

		&__wrapper {
			margin-left: -30px;
			margin-right: -30px;
			display: inline-block;
			margin-bottom: 75px;
			min-height: 780px;
			width: 100%;
		}
	}

	display: none;
	padding: 20px;

	&--active {
		display: block;
	}
}

// PRIZES
	.tabs_wrap {
	    // background: #151830 url(../images/inner-page-bg2.png) 50% 0% no-repeat;
	    background-size: 100% auto;
	    margin-top: 54px;
	    padding-top: 60px;

	    .grid{
	    	display: -webkit-flex; /* Safari */
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
	    }
	}
	.prize{
		padding: 0 30px;
		margin-bottom: 75px;
		text-align: center;
		float: none !important;

		&.grid--45p{
			.img_box{
				text-align: center;
				height: 400px;
			}
		}

		&__title{
			font-size: 32px;
			text-transform: uppercase;
			text-align: center;
			font-family: "PT Sans", sans-serif;

		}
		
		&__subtitle{
			font-size: 18px;
			color: #FFC000;
			text-transform: uppercase;
			text-align: center;
			font-family: "PT Sans", sans-serif;

		}
		.img_box{
			text-align: center;
			height: 250px;
			
			img{
				max-width: 100%;
				max-height: auto;
				height: 100%;
				text-align: center;
				vertical-align: middle;
			}
		}
	}

// QUESTIONS
	.questions{
		padding-top: 114px;
		
		.button{
			margin-left: auto;
			margin-right: auto;
			width: 260px;
			display: block;
		}
		
		.sub-menu{display: none;}
		
		.accordion_item_link{
			font-size: 25px;
			margin-bottom: 20px;
			display: inline-block;
			cursor: pointer;
			border-bottom: 1px dashed #fff;
		}
		.active .accordion_item_link,
		.accordion_item_link:hover{border-bottom-color: transparent;}


		.num_list{
			margin-left: 30px;
			margin-bottom: 30px;
			counter-reset: list 0;
			
			li { 
				list-style-type: none; 
				font-size: 15px;
				line-height: 1.5;
				
				&:before {
				    counter-increment: list; /* Увеличиваем значение счетчика */
				    content: counter(list) ". "; /* Выводим число */
				}
			}
			  
		}
	}

// winners

.title--winner{
	font-size: 30px;
	text-transform: uppercase;
}

.winner--list{
	counter-reset: list;
	text-align: center;
	margin-bottom: 75px;

	li{

		&:not(:last-child){
			margin-bottom: 25px;
		}

		a{
			text-decoration: underline;

			&::before{
				counter-increment: list;
	    		content: counter(list) ". "; 
			}

			&:hover{
				text-decoration: none;
			}
		}

		span{
			display: inline-block;
			margin-left: 25px;
		}
	}
}

@media only screen and (max-width: 1100px){
	.tabs__wrapper{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 991px){
	.tabs__wrapper{
		.grid--33p{
			width: 50%;
		}
	}

	.tabs__bookmarks{
		padding-bottom: 50px;
	}

	.grid--45p.prize{
		order: -1;
		width: 100%;
	}

	.grid--25p.prize{
		width: 50%;
	}
}

@media only screen and (max-width: 768px){
	.tabs__wrapper{
		.grid--33p{
			width: 100%;
		}
	}

	.tabs__wrapper{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.grid--25p.prize{
		width: 100%;
	}

	.tab,
	.prize{
		padding: 0;
	}

	.prize.grid--45p .img_box{
		height: 300px;
	}
}

// RESPONSIVE _tabs
	@media only screen and (max-width: 550px) {

		.questions .accordion_item_link{
			font-size: 20px;
		}
	}

	@media only screen and (max-width: 480px) {

		.questions .accordion_item_link{
			border-bottom: none;
		}
	}