
.title--1{
  font-size: 42px;
  line-height: 1.23;
  font-weight: bold;
  text-transform: uppercase;
}

.title--2{
  font-size: 35px;
  line-height: 1.23;
}

.title--3{
  font-size: 25px;
  line-height: 1.22;
}

.title--4{
  font-size: 37px;
  line-height: 1.1;
}

.title--5{
  font-size: 20px;
  line-height: 1;
}

.title--6{
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  // color: #ffc000;
}

[data-bg="title_bg"]{
  padding: 10px 8px 8px;
  background: url(../images/white_bg.png) 50% 0 no-repeat;
  -webkit-background-size: auto 100%;
       -o-background-size: auto 100%;
          background-size: auto 100%;
}

// RESPONSIVE _titles
  @media only screen and (max-width: 1199px) {
    
  }

  @media only screen and (max-width: 768px) {
    .title--2{
      font-size: 32px;
    }

    [data-bg="title_bg"]{
      -webkit-background-size: 100% 100%;
           -o-background-size: 100% 100%;
              background-size: 100% 100%;
        
        &.title--3{
          font-size: 20px;
        }
    }
  }

  @media only screen and (max-width: 667px) {
    .title--2{
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 550px) {
    .title--2{
      font-size: 22px;
    }

    .title--1{
      font-size: 32px;
    }

    [data-bg="title_bg"].title--3{
      font-size: 17px;
    }
  }