/*RESET - сброс стилей*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');
@import 'reset.scss';

/*DEFAULT STYLES - глобальные стили*/
@import "default";
@import "_formstyler.scss";

/* ------ Header ------*/
@import "blocks/_header.scss";
@import "blocks/_pic_box.scss";
@import "blocks/_steps.scss";
@import "blocks/_works.scss";
@import "blocks/_inner-img-box.scss";
@import "blocks/_personal-data.scss";
@import "blocks/_footer.scss";

@import "blocks/_banners.scss";

@import "_titles.scss";
@import "_scrollpane.scss";

/*FORMS - формы*/
//@import "forms";
@import "button";

/*TABS - табы*/
@import "_tabs.scss";

/*MODALS - модальные окна*/
@import "_modals.scss";

/*SOCIAL - социальные кнопки*/
@import "_social.scss";


@media only screen and (max-width: 1500px) {
 	.pic-box__hero2{
 		right: 0;
 	}

}


.personal-gallery-box{
	padding-top: 125px;
}
