.main_banner{
	min-height: 100%;
	position: relative;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 7%;
}


[data-bg="main_bg"]{
	margin-top: 54px;
	background: url(../images/main_bg.jpg) 50% bottom no-repeat;
	-webkit-background-size: 100% auto;
	     -o-background-size: 100% auto;
	        background-size: 100% auto;
	border-bottom: 9px solid #223000;
}

.step2{
	margin-top: -20px;
	position: relative;
	text-align: center;
}

.stage{
	
	&__title{
		font-size: 30px;
		color: #FFF;
		font-family: 'a_futuricablackregular', sans-serif;
		font-weight: bold;
		padding-top: 30px;
		text-transform: uppercase;
	}
}


// RESPONSIVE _banners
	@media only screen and (max-width: 1199px) {
		
		.step2{
			margin-top: 0;
		}
	}

	@media only screen and (max-width: 1024px) {

		[data-bg="main_bg"]{
			-webkit-background-size: auto 100%;
			     -o-background-size: auto 100%;
			        background-size: auto 100%;
		}

	}

	@media only screen and (max-width: 667px) {
		
		.banner__img_box{
			img{
				width: 100%;
			}
		}
	}