header{
	box-shadow: 3px 4px 14px 2px rgba(1, 1, 1, 0.35);
	background-color: #55710b;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
	z-index: 999;
}

.header__tools{
	padding: 16px 30px 0 0;
}

	.primary-nav{
		
		&__list{
			
			li{
				float: left;
				margin: 0 25px;
			}

				a{
					color: #ffffff;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: .5px;

					&:hover {
					    color: #ffc000;
					}
					&.current{
						border: 1px solid #fff;
					    border-radius: 5px;
					    padding: 2px 6px;
					    &:hover{
					    	border-color: #FFC000;
					    }
					}
				}	
		}
	}

	.header__auth-links{
		margin-left: 90px;

		a{
			font-size: 16px;
			vertical-align: middle;
			
			&.current{
				border: 1px solid #fff;
			    border-radius: 5px;
			    padding: 4px 19px;
			    font-weight: bold;
			    font-family: 'PT Sans Narrow', sans-serif;
			    &:hover{
			    	border-color: #FFC000;
			    }
			}
		}
	}

	.menu_btn{
		display: none;
		width: 40px;
		height: 40px;
		float: right;
		cursor: pointer;
		margin-top: 7px;
		position: relative;
		z-index: 10;
		background: url(../images/menu.png) 50% 50% no-repeat;
	}
	.menu_close{
		display: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: url(../images/r_close.png) 50% 50% no-repeat;
		-webkit-background-size: 32px 32px;
		     -o-background-size: 32px 32px;
		        background-size: 32px 32px;
	}





// RESPONSIVE _header
	@media only screen and (max-width: 1199px) {
		
	}

	@media only screen and (max-width: 995px) {
		.primary-nav__list{
			
			li{
				margin: 0 10px;
			}
		}
	}

	@media only screen and (max-width: 880px) {
	
		.header__auth-links{
			margin-left: 40px;
		}	
	}

	@media only screen and (max-width: 768px) {
		.menu_btn{
			display: inline-block;
			cursor: pointer !important;
		}

		.header__tools{
			position: fixed;
			right: -350px;
			top: 0;
			bottom: 0;
			width: 320px;
			z-index: 20;
			background-color: #55710B;
			padding: 50px 15px 15px;
			-webkit-box-shadow: rgba(0, 0, 0, .6);
			        box-shadow: rgba(0, 0, 0, .6);
			
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
			
			.primary-nav{
				width: 100%;
				
				&__list{
					
					li{
						display: inline-block;
						width: 100%;
						float: none;
						margin: 0 0 15px;
					}
				}
			}

			.menu_close{
				display: block;
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 20;
			}
		}

		.nav_overlay{
			.header__tools{
				right: 0;
				
				-webkit-transition: all 0.7s ease;
			    -moz-transition: all 0.7s ease;
			    -o-transition: all 0.7s ease;
			    transition: all 0.7s ease;
				

			}
			
				
		}
	}
