.steps-info{
	padding: 60px 60px 60px 50px;
	margin-top: -10px;
	position: relative;
	background: url(../images/banner_img1.png) 50% 0% no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}

	
	.step-item{
		position: relative;

		&__inner{

		}


		&__num{
			width: 138px;
			font-size: 31px;
			background-color: #ffc000;
			line-height: 1;
			text-transform: uppercase;
			text-shadow: 6px 6px 0 #010101, -2px -2px 0 #010101, 2px -2px 0 #010101, -2px 2px 0 #010101, 2px 2px 0 #010101;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
			letter-spacing: 1px;

			span{
				display: block;
				font-size: 96px;
			}

			b{
				display: block;
				font-style: italic;
				letter-spacing: 2px;
				text-shadow: 3px 5px 0 #010101, -2px -2px 0 #010101, 2px -2px 0 #010101, -2px 2px 0 #010101, 2px 2px 0 #010101;
				filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
				-moz-transform: rotate(-5deg);
				-webkit-transform: rotate(-5deg);
				-o-transform: rotate(-5deg);
				-ms-transform: rotate(-5deg);
				transform: rotate(-5deg);
				//text-shadow: 4px 4px 0px #010101, -2px -2px 1px #010101, 2px 2px 1px #010101, -1px 2px 1px #010101;
			}
		}

		&__label{
			font-size: 74px;
			line-height: .9;
			color: #ffc000;
			text-transform: uppercase;
			font-style: italic;
			text-shadow: 6px 6px 0 #010101, -2px -2px 0 #010101, 2px -2px 0 #010101, -2px 2px 0 #010101, 2px 2px 0 #010101;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);
			margin-bottom: 70px;
			position: relative;
			z-index: 10;
		}

		&__content{
			// padding-right: 150px;
			position: relative;
			
			.title--2{
				padding-bottom: 170px;
			}
		}
		

	}

	.step-1__img{
		position: absolute;
		right: -53px;
		top: -39px;
	}

	img{
		margin: 0 !important;
	}


	.step-rule{
		display: table-cell;
		width: 25%;
		vertical-align: middle;
		background: url(../images/step-rule-bg.png) right 50% no-repeat;
		background-size: 27px auto;
		padding-left: 20px;
		font-family: 'PT Sans Narrow', sans-serif;

		&:first-child{
			figcaption{
				// padding-top: 0;
			}
		}

		&:nth-child(2){width: 28%;}
		&:nth-child(3){width: 22%;}

		figcaption{
			font-size: 16px;
			padding-left: 8px;
			display: inline-block;
			vertical-align: middle;
			padding-top: 10px;
		}
		img{
			vertical-align: middle;
		}

		&:last-child{
			background: none;
		}

	}

.steps-rules{
	display: table;
	width: 100%;

	&--2{
		width: 800px;
		margin: 0 auto;

		.step-rule{
			width: 33.3%;
			
			&:first-child{
				width: 35%;
			}
			&:nth-child(2){
				width: 31%;
			}
		}
	}

}


// RESPONSIVE _steps
	@media only screen and (max-width: 1199px) {
	}

	@media only screen and (max-width: 1024px) {
		.step-rule{

			img{
				width: 18%;
			}
			
			&:first-child{
				padding-left: 0;
			}
		}

		.step-item{
			
			&__content{

				.title--2{
					padding-bottom: 105px;
				}
			} 
		}

		.step2{
			
			img{
				width: 100%;
			}
		}
		
	}

	@media only screen and (max-width: 995px) {
		.step-item{
			
			&__content{

				.title--2{
					padding-bottom: 85px;
				}
			} 
		}
		.step-rule{
			background-image: none;
			
			&:first-child{
				width: 22%;
			}
			&:last-child{
				width: 27%;
			}
		}

	}

	@media only screen and (max-width: 880px) {
		.step-item{
			
			&__content{

				.title--2{
					padding-bottom: 45px;
				}
			} 
		}
		.step-rule{
			background-image: url(../images/step-rule-bg.png);
			
			img{
				display: none;
			}
			
		}

	}

	@media only screen and (max-width: 768px) {

		.steps-info{
			padding-top: 40px;
			background-image: url(../images/banner_empty.png);
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
		}
		.step-item{
			margin-bottom: 20px;
			
			&__content{

				color: #E23E21;

				.title--2{
					padding-bottom: 0;
				}
			} 
		}
		.step-rule{
			width: 45% !important;
			margin-right: 5%;
			display: inline-block;
			background-image: url(../images/step-rule-bg.png);
			
			&:nth-child(3){
				padding-left: 0;
			}
			
			img{
				display: inline-block;
			}
			
		}

	}

	@media only screen and (max-width: 550px) {
		.step-rule{
			width: 100% !important;
			float: none;
			margin-bottom: 20px;
			text-align: center;
			
			background-image: none;
			
			img{
				width: 15%;
			}
		}

		.steps-info{
			padding: 40px 20px;
			margin-top: 0;
			-webkit-border-radius: 5px;
			        border-radius: 5px;
			
			background-image: none;
			background-color: #FFF;
		}

		.steps-rules--2{
			width: 100%;
		}
	}

