.works{
	margin-left: -20px;
	margin-right: -20px;
}


.works .work-item:nth-child(3) ~ .work-item{
	// margin-top: 63px;
}
 
	.work-item{
		float: left;
		width: calc(33.3% - 40px);
		margin: 0 20px;
		position: relative;
			
		
		&__info{
			padding: 90px 25px 110px 10px;
			position: relative;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
			// box-shadow: 15px 20px 0 rgba(0,0,0,.6);
			background: url(../images/works_bg.png) 0 0 no-repeat;
			-webkit-background-size: 100% auto;
			     -o-background-size: 100% auto;
			        background-size: 100% auto;
			
			&[data-likes]::before{
				display: block;
				position: absolute;
				top: 15px;
				left: 20px;
				background: url(../images/heart-bg.png) 0 0 no-repeat;
				background-size: 58px auto;
				z-index: 10;
				width: 58px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 32px;
				font-family: 'Conv_ReformaGroteskDemiC';
				  font-weight: normal;
				  font-style: normal;
				  letter-spacing: 1px;
				content: attr(data-likes);
			}

			&[data-author]::after{
				display: block;
				width: 155px;
				height: 23px;
				line-height: 23px;
				background-color: #fff;
				border-radius: 15px;
				font-weight: bold;
				font-size: 14px;
				position: absolute;
				top: 26px;
				right: 40px;
				text-align: center;
				content: attr(data-author);
			}
		}

		&__desc{
			font-size: 19px;
			font-weight: bold;
			
			padding: 13px;
			text-align: center;
			background-color: #FFF;
			-webkit-border-radius: 7px;
			        border-radius: 7px;
			box-shadow: 10px 15px 0 rgba(0,0,0,.7);
		}


			

		&[data-award]::before{
			width: 49px;
			height: 49px;
			display: block !important;
			position: absolute;
			top: 16px;
			left: 23px;
			background: url(../images/award-icon.png) 0 0 no-repeat;
			background-size: 100% auto;
			z-index: 10;
			content: "";
		}


		figcaption{
			height: 110px;
			text-align: center;
			padding: 8px 0 11px;
			
			color: #fff;
			font-size: 28px;
			line-height: 1.1;
			font-weight: bold;
			text-transform: uppercase;
			font-family: 'PT Sans Narrow', sans-serif;
		}

		// img{
		// 	border-radius: 12px 12px 0 0;
		// }

		// &__img{
		// 	border-radius: 12px 12px 0 0;
		// 	overflow: hidden;
		// 	position: relative;

		// 	&::after{
		// 		position: absolute;
		// 		top: 0;
		// 		right: 0;
		// 		bottom: 0;
		// 		left: 0;
		// 		box-shadow: inset 0px -20px 70px rgba(0,0,0,.5),  inset 0px 20px 70px rgba(0,0,0,.5);
		// 		content: "";
		// 	}
		// }
	}

.works.var2{
	.work-item::before,
	.work-item::after{
		display: none;
	}
}

.my-works{
	margin-left: -70px;
	margin-right: -70px;
}


	.my-work-item{
		display: inline-block;
		width: 311px;
		margin-left: 65px;
		margin-right: 65px;

		figcaption{
			color: #fff;
			padding: 36px 0 0 15px;
			position: relative;
			text-align: left;
		}

		&__img{
			border-radius: 15px;
			padding: 5px;
			background-color: #fff;
			box-shadow: 15px 20px 0 rgba(0,0,0,.8);

			img{
				border-radius: 10px;
			}
		}

		&__stage{
			color: #fff;
			font-size: 22px;
			line-height: 1;
			position: absolute;
			text-transform: uppercase;
			position: absolute;
			top: 40px;
			right: 20px;
			text-align: center;
			font-style: italic;
			font-weight: normal;
			letter-spacing: 2px;
			text-shadow: 4px 7px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
			-moz-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			-o-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			transform: rotate(-5deg);


			span{
				display: block;
				font-size: 66px;
			}
		}
	}



.works-filter{

	&__item{
		width: 50%;
		float: left;
		padding: 0 20px;
	}

	&__label{
		margin-right: 15px;
		display: inline-block;
	}
}

.sort-select{

	.jq-selectbox__select-text,
	.jq-selectbox__dropdown{
		text-align: center;
	}

	&--large{
		width: 326px;
	}
}


.award-position{
	font-style: italic;
	font-size: 37px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 4px 8px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);

	span{
		display: block;
		font-size: 112px;
		text-shadow: 4px 8px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	}
}



.gallery-modal{
	padding: 45px 35px !important;
	font-size: 16px;

	.arcticmodal-close{
		top: 15px;
		right: 18px;
	}

	&__work-item{
		background-color: #fff;
		border-radius: 15px;
		border: 5px solid #fff;
		position: relative;
		box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.8);
		background: url(../images/gallery-modal-placeholder-bg.jpg) 0 0 no-repeat;
		text-align: center;

	}

	&__likes{
		width: 58px;
		height: 50px;
		display: inline-block;
		vertical-align: middle;	
		margin-left: 20px;
		background: url(../images/heart-bg.png) 0 0 no-repeat;
		background-size: 58px auto;
		line-height: 50px;
		text-align: center;
		font-size: 32px;
		font-family: 'Conv_ReformaGroteskDemiC';
		font-weight: normal;
		font-style: normal;
		letter-spacing: 1px;
		color: #000;
	}
}

// RESPONSIVE _works
	@media only screen and (max-width: 1199px) {
	}

	@media only screen and (max-width: 1024px) {

		.work-item{
			
			figcaption{
				font-size: 24px;
			}

			&__info{
				padding-bottom: 65px;
			}
		}
	}

	@media only screen and (max-width: 880px) {
		
		.work-item{
			
			figcaption{
				font-size: 20px;
			}

			&__info{
				padding-top: 70px;
				padding-bottom: 50px;
			}

			&__info[data-author]{

				&::before{
					left: 10px;
				}
				
				&::after{
					right: 20px;
				}
			}
		}
		
	}

	@media only screen and (max-width: 768px) {
		.work-item__info[data-likes]::before{
			width: 40px;
			height: 40px;
			font-size: 26px;
			line-height: 40px;
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
		}

		.work-item__info[data-author]::after{
			width: 140px;
			top: 22px;
		}

		.work-item{

			&__info{
				padding-top: 60px;	
				padding-bottom: 20px;
			}

			figcaption{
				font-size: 18px;
			}

			&__desc{
				font-size: 17px;
			}
			
		}

		.my-works{
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media only screen and (max-width: 667px) {
		.work-item{
			width: calc(50% - 40px);
			margin-bottom: 30px;
			
			figcaption{
				font-size: 24px;
			}

			&__info{
				padding-bottom: 90px;
			}
		}
	}

	@media only screen and (max-width: 550px) {
		.work-item{
			
			figcaption{
				font-size: 20px;
			}

			&__info{
				padding-bottom: 40px;
			}
		}
	}

	@media only screen and (max-width: 480px) {
		.works{
			margin-left: 0;
			margin-right: 0;
		}
		.work-item{
			width: 100%;
			float: none;
			margin: 0 0px 30px;
				
			
			figcaption{
				font-size: 24px;
			}

			&__info{
				padding-bottom: 90px;
				-webkit-background-size: 100% 100%;
				     -o-background-size: 100% 100%;
				        background-size: 100% 100%;
				    
				&[data-author]::after{
					right: 40px;
				}
			}
		}
	}